.container-fluid{
    background-color: #20bbc0;
    color: black;
}
.navbar navbar-expand-lg{
    padding-top: 0cm;
    margin-top: auto;
}
.navbar-brand{
    font-family: sans-serif;
    font-size: xx-large;
    margin-right: 2%;

}
.nav-item{
    text-align: right;
    float: right;
    font-size: large;
    padding-top: 4px;
    
}
header{
    margin-top: -1%;
    margin-bottom: -1%;
   
}
ul{
    margin-left: 400px;
}

.navbar-nav a:hover{
    color: white;
}

