<div class="stud">
    <nav>
        <div class="container">
            <div class="d-flex">
                <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                    Students</button>
                <div class="search-stud">
                    <input type="search" class="form-control" name="search" placeholder="Search Students"
                        (input)="searchStud($event)">
                </div>
            </div>
        </div>
    </nav>


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div style="background-color: #30E3CA" class="modal-header">
                            <h5 style="color: white;" class="modal-title" id="exampleModalLabel">ADD STUDENT DATA</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="studform">
                                <div class="from-group mb-2">
                                    <label for="name" class="form-label"> Student Name</label>
                                    <input type="text" class="form-control" formControlName="studname"
                                        placeholder="Enter name">
                                </div>

                                <div class="from-group mb-2">
                                    <label for="semester" class="form-label">Semester</label>
                                    <input type="number" class="form-control" formControlName="semester"
                                        placeholder="Enter semester">
                                </div>

                                <div class="from-group mb-2">
                                    <label for="usn" class="form-label">USN</label>
                                    <input type="text" class="form-control" formControlName="usn"
                                        placeholder="Enter usn">
                                </div>
                            </form>
                        </div>
                        <div style="background-color: #30E3CA" class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button (click)="addstud(this.studform.value)" type="button" class="button-84">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> Student Name</th>
                            <th scope="col">Semester</th>
                            <th scope="col">USN</th>
                            <th scope="col">Update</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.studname}}</td>
                            <td>{{item.semester}}</td>
                            <td>{{item.usn}}</td>
                            <td><button routerLink="/update-student/{{item.id}}"
                                    class="btn btn-outline-secondary  btn-small ps-2 w-75 ms-3">Edit</button>
                            <td><button type="button" class="btn btn-outline-secondary btn-small ps-2 w-75 ms-3"
                                    (click)="deleteStud(item.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>